@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@500;600;700;800&display=swap");
:root {
  --card-width: 200px;
  --card-height: 300px;
  --card-transition-duration: 800ms;
  --card-transition-easing: ease;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  width: 100%;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background: rgba(0, 0, 0, 0.787);
  overflow: hidden;
}

button {
  border: none;
  background: none;
  cursor: pointer;
}
button:focus {
  outline: none;
  border: none;
}

.app {
  position: relative;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.app__bg {
  position: absolute;
  width: 100%;
  height: 100%;
  z-index: -5;
  filter: blur(8px);
  pointer-events: none;
  user-select: none;
  overflow: hidden;
}
.app__bg::before {
  content: "";
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background: #000;
  z-index: 1;
  opacity: 0.8;
}
.app__bg__image {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%) translateX(var(--image-translate-offset, 0));
  width: 180%;
  height: 180%;
  transition: transform 1000ms ease, opacity 1000ms ease;
  overflow: hidden;
}
.app__bg__image img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.app__bg__image.current--image {
  opacity: 1;
  --image-translate-offset: 0;
}
.app__bg__image.previous--image, .app__bg__image.next--image {
  opacity: 0;
}
.app__bg__image.previous--image {
  --image-translate-offset: -25%;
}
.app__bg__image.next--image {
  --image-translate-offset: 25%;
}

.cardList {
  position: absolute;
  width: calc(3 * var(--card-width));
  height: auto;
}
.cardList__btn {
  --btn-size: 35px;
  width: var(--btn-size);
  height: var(--btn-size);
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  z-index: 100;
}
.cardList__btn.btn--left {
  left: -5%;
}
.cardList__btn.btn--right {
  right: -5%;
}
.cardList__btn .icon {
  width: 100%;
  height: 100%;
}
.cardList__btn .icon svg {
  width: 100%;
  height: 100%;
}
.cardList .cards__wrapper {
  position: relative;
  width: 100%;
  height: 100%;
  perspective: 1000px;
}

.card {
  --card-translateY-offset: 100vh;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%) translateX(var(--card-translateX-offset)) translateY(var(--card-translateY-offset)) rotateY(var(--card-rotation-offset)) scale(var(--card-scale-offset));
  display: inline-block;
  width: var(--card-width);
  height: var(--card-height);
  transition: transform var(--card-transition-duration) var(--card-transition-easing);
  user-select: none;
}
.card::before {
  content: "";
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background: #000;
  z-index: 1;
  transition: opacity var(--card-transition-duration) var(--card-transition-easing);
  opacity: calc(1 - var(--opacity));
}
.card__image {
  position: relative;
  width: 100%;
  height: 100%;
}
.card__image img {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.card.current--card {
  --current-card-rotation-offset: 0;
  --card-translateX-offset: 0;
  --card-rotation-offset: var(--current-card-rotation-offset);
  --card-scale-offset: 1.2;
  --opacity: 0.8;
}
.card.previous--card {
  --card-translateX-offset: calc(-1 * var(--card-width) * 1.1);
  --card-rotation-offset: 25deg;
}
.card.next--card {
  --card-translateX-offset: calc(var(--card-width) * 1.1);
  --card-rotation-offset: -25deg;
}
.card.previous--card, .card.next--card {
  --card-scale-offset: 0.9;
  --opacity: 0.4;
}

.infoList {
  position: absolute;
  width: calc(3 * var(--card-width));
  height: var(--card-height);
  pointer-events: none;
}
.infoList .info__wrapper {
  position: relative;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: flex-start;
  align-items: flex-end;
  perspective: 1000px;
  transform-style: preserve-3d;
}

.info {
  margin-bottom: calc(var(--card-height) / 8);
  margin-left: calc(var(--card-width) / 1.5);
  transform: translateZ(2rem);
  transition: transform var(--card-transition-duration) var(--card-transition-easing);
}
.info .text {
  position: relative;
  font-family: "Montserrat";
  font-size: calc(var(--card-width) * var(--text-size-offset, 0.2));
  white-space: nowrap;
  color: #fff;
  width: fit-content;
}
.info .name,
.info .location {
  text-transform: uppercase;
}
.info .location {
  font-weight: 800;
}
.info .location {
  --mg-left: 40px;
  --text-size-offset: 0.12;
  font-weight: 600;
  margin-left: var(--mg-left);
  margin-bottom: calc(var(--mg-left) / 2);
  padding-bottom: 0.8rem;
}
.info .location::before, .info .location::after {
  content: "";
  position: absolute;
  background: #fff;
  left: 0%;
  transform: translate(calc(-1 * var(--mg-left)), -50%);
}
.info .location::before {
  top: 50%;
  width: 20px;
  height: 5px;
}
.info .location::after {
  bottom: 0;
  width: 60px;
  height: 2px;
}
.info .description {
  --text-size-offset: 0.065;
  font-weight: 500;
}
.info.current--info {
  opacity: 1;
  display: block;
}
.info.previous--info, .info.next--info {
  opacity: 0;
  display: none;
}

.loading__wrapper {
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background: #000;
  z-index: 200;
}
.loading__wrapper .loader--text {
  color: #fff;
  font-family: "Montserrat";
  font-weight: 500;
  margin-bottom: 1.4rem;
}
.loading__wrapper .loader {
  position: relative;
  width: 200px;
  height: 2px;
  background: rgba(255, 255, 255, 0.25);
}
.loading__wrapper .loader span {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background: red;
  transform: scaleX(0);
  transform-origin: left;
}

@media only screen and (min-width: 800px) {
  :root {
    --card-width: 250px;
    --card-height: 400px;
  }
}
.support {
  position: absolute;
  right: 10px;
  bottom: 10px;
  padding: 10px;
  display: flex;
}
.support a {
  margin: 0 10px;
  color: #fff;
  font-size: 1.8rem;
  backface-visibility: hidden;
  transition: all 150ms ease;
}
.support a:hover {
  transform: scale(1.1);
}



















*{
	margin: 0;
	padding: 0;
	text-decoration: none;
	list-style: none;
}
body{
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
}
.one{
	width: 1400px;
	height: 407px;
	background-image: url(../img/banner-bg.png);
	background-repeat: no-repeat;
	background-size: cover;
}
.logo{
	position: relative;
	text-align: center;
	top: 30px;
}
.active{
	position: relative;
	list-style: none;
	width: 652px;
	height: 52px;
	display: flex;
	top: 65px;
	left:410px;
	background-color: rgba(255,255,255,.85);
	border-radius: 5px;
	
}
.active li{
	flex-grow: 1;
	width: 91px;
	height: 100%;
	text-align: center;
	border-radius: 10px ;
	line-height: 45px;
	display: flex;
	justify-content: center;
	transition: all 0.3s;
}
.active li a{
	text-align: center;
	width: 102px;
	height: 52px;
	transition: all 0.3s;
	color: #333;
	text-decoration: none;
	display: block;
	height: 100%;
	border-radius: 4px;
	line-height: 52px;
	transition: .2s;
}
.active li:hover, .active a:hover{
	background-color: #2b2278;
	color: #fff;
}
.active li:hover a{
	color: #fff;
}
.top{
	position: relative;
	top: 80px;
	width: 1400px;
	height: 771px;
	background-color: #fff;
}

.two{
	width: 1400px;
	height: 853px;
	
}
.txt{
	width: 1000px;
    position: relative;
    left: 230px;
}
.txt h1{
	font-size: 40px;
	padding: 70px 0 20px 0;
}
.txt p{
	font-size: 16px;
    color: #1f1f1f;
}
.row{
	
	display: flex;
	 justify-content: space-around;
	 
}
.row div{
	width: 24%;
	height: 550px;
	text-align: center;
}
.row div img{
	width: 100%;
	height: 100%;
	}
.row div a{
	position: relative;
	left: 100px;
	top: 20px;
	line-height: 49px;
	display: block;
	width: 170px;
	height: 49px;
	background-color: #2B2278;
	text-decoration: none;
	color: #FFFFFF;
	border-radius: 30px;
	transition: all 0.3s;
}
.row div a:hover{
	background-color: #000000;
}
.seven{
	position: relative;
	top: 800px;
	width:1400px;
	height: 690.53px;
	text-align: center;
	background-image: url(../img/footer-bg.png);
	background-size: cover;
}
.inputa{
   float: left;
   position: relative;
   top: 100px;
   left: 500px;
}
.mailtext{
	width: 380px;
    float: left;
    font-size:20px;
    color: #2b2c2c;
    background-color: #ffffff;
    height: auto;
    padding: 20px 20px;
    border-radius:  20px 0  0 20px;
    border: 0px;
    outline: none;
    
}
.btnv{
	height: auto;
	float: left;
    color: #2b2c2c;
    background-color: #ffffff;
    
    padding: 20px 20px 23px 20px;
    border-radius: 0 20px 20px 0;
   font-weight: bold;
}
.btnv a:{
	color: #000000;
}
.main{
	text-align: center;
}
.aa,.cc{
	position: relative;
	width: 300px;
	height: 100px;
	margin: 0 auto;
}
.aa a,.cc a{
	color: white;
	transition: all 0.3s;
}
.aa a:hover,.cc a:hover{
	color: #fd7e14;
}
.totala{
	position: relative;
	top:200px;
}
.totala ul{
	display: flex;
	
}
.totala li{
	padding: 30px 5px;
	position: relative;
	left: 690px;
	bottom: 5px;
}



.last{
	position: relative;
	top:800px;
	width: 1519.2px;
	height: white;
	color: white;
	background-color: #122C2D;
	text-align: center;
}
.txb{
	font-size: 16px;
	padding: 20px 20px ;
	
}
.txb a{
	color: white;
	transition: all 0.3s;
}
.txb a:hover{
	color: #e27141;
}
/* 分类开始 */

  
  body {
	display: flex;
	justify-content: center;
	align-items: center;
	min-height: 100vh;
	background: #353540;
  }
  
  .l-container {
	display: grid;
	grid-template-columns: repeat(4, 1fr);
	grid-gap: 30px;
	width: 100%;
	max-width: 1300px;
	padding: 30px;
  }
  @media screen and (max-width: 760px) {
	.l-container {
	  grid-template-columns: repeat(2, 1fr);
	}
  }
  
  .b-game-card {
	position: relative;
	z-index: 1;
	width: 100%;
	padding-bottom: 150%;
	perspective: 1000px;
  }
  .b-game-card__cover {
	position: absolute;
	z-index: 1;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	overflow: hidden;
	background-image: linear-gradient(120deg, #f6d365 0%, #fda085 100%);
	background-size: cover;
	perspective-origin: 50% 50%;
	transform-style: preserve-3d;
	transform-origin: top center;
	will-change: transform;
	transform: skewX(0.001deg);
	transition: transform 0.35s ease-in-out;
  }
  .b-game-card__cover::after {
	display: block;
	content: "";
	position: absolute;
	z-index: 100;
	top: 0;
	left: 0;
	width: 100%;
	height: 120%;
	background: linear-gradient(226deg, rgba(255, 255, 255, 0.4) 0%, rgba(255, 255, 255, 0.4) 35%, rgba(255, 255, 255, 0.2) 42%, rgba(255, 255, 255, 0) 60%);
	transform: translateY(-20%);
	will-change: transform;
	transition: transform 0.65s cubic-bezier(0.18, 0.9, 0.58, 1);
  }
  .b-game-card:hover .b-game-card__cover {
	transform: rotateX(7deg) translateY(-6px);
  }
  .b-game-card:hover .b-game-card__cover::after {
	transform: translateY(0%);
  }
  .b-game-card::before {
	display: block;
	content: "";
	position: absolute;
	top: 5%;
	left: 5%;
	width: 90%;
	height: 90%;
	background: rgba(0, 0, 0, 0.5);
	box-shadow: 0 6px 12px 12px rgba(0, 0, 0, 0.4);
	will-change: opacity;
	transform-origin: top center;
	transform: skewX(0.001deg);
	transition: transform 0.35s ease-in-out, opacity 0.5s ease-in-out;
  }
  .b-game-card:hover::before {
	opacity: 0.6;
	transform: rotateX(7deg) translateY(-6px) scale(1.05);
  }
/* 分类结束 */
/* 侧栏 */

/* 滚动 */
/* body {
	font-family: Termina, sans-serif;
	color: #111;
	background: #eee;
	overflow-x: hidden;
  }
  
  section {
	padding: 10vw;
	height: 100%;
	min-height: 500vh;
	overflow: visible;
	display: flex;
	flex-direction: column;
	justify-content: center;
	overflow-y: visible;
  }
  
  .credit {
	text-align: center;
	z-index: 999;
	font-size: 0.8rem;
	position: fixed;
	bottom: 1rem;
	right: 1rem;
	writing-mode: vertical-rl;
	text-orientation: mixed;
  
	a {
	  color: #fff;
	}
  }
  
  * {
	box-sizing: border-box;
  }
  
  h1 {
	font-weight: 800;
	margin: 2rem auto;
	font-size: clamp(3vw, 2rem, 4rem);
	text-align: center;
	z-index: 999;
	max-width: 800px;
	mix-blend-mode: difference;
	pointer-events: none;
	color: white;
	position: fixed;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	display: grid;
	place-items: center;
  }
  
  .gallery {
	z-index: 1;
	display: flex;
	flex-direction: row;
	justify-content: center;
	width: 100%;
	height: 100%;
	position: fixed;
	top: 0;
	left: 50%;
	transform: translateX(-50%);
	overflow: visible;
  
	@media (max-width: 768px) {
	  width: 160%;
	}
  }
  
  .col {
	display: flex;
	flex: 1;
	flex-direction: column;
	width: 100%;
	align-self: flex-start;
	justify-self: flex-start;
  }
  
  .col:nth-child(2) {
	align-self: flex-end;
	justify-self: flex-end;
  }
  
  .image {
	width: 100%;
	filter: saturate(0);
	padding: 1rem;
  }
  
  .image:hover {
	z-index: 99999999999 !important;
	filter: saturate(1);
  }
  
  img {
	transition: 0.3s ease-out;
	overflow: hidden;
	box-shadow: 0 2.8px 2.2px rgba(0, 0, 0, 0.034),
	  0 6.7px 5.3px rgba(0, 0, 0, 0.048), 0 12.5px 10px rgba(0, 0, 0, 0.06),
	  0 22.3px 17.9px rgba(0, 0, 0, 0.072), 0 41.8px 33.4px rgba(0, 0, 0, 0.086),
	  0 100px 80px rgba(0, 0, 0, 0.12);
	width: 100%;
  }
   */

/* 照片 */
